<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AIProjectGratext -->
      <package
            uri="http://cinco.scce.info/product/aiproject/gratext"
            class="info.scce.cinco.product.aiProject.gratext.AIProjectGratextPackage"
            genModel="model/info/scce/cinco/product/aiProject/gratext/AIProjectGratext.genmodel"/>
   </extension>

</plugin>
